@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
    Layout = "default.cshtml";
}

<header>
    <div class="head-inner">
        <h1>About me</h1>
    </div>
</header>
<div class="fancy-container lightblue">
    <p>.NET developer and user experience designer in San Diego, CA.</p>
    <p>I'm part scientist, part designer, part engineer. The scientist in me conducts research to find out what people are capable of and enjoy. The designer in me comes up with user friendly solutions to  problems. And the engineer in me builds the software that makes the solutions real.</p>
    <p>As my career has progressed, I'm become increasingly fascinated by software development, but I always remember that the code I write is for users, and I'm always thinking about how I can make the software I build more useful and streamlined.</p>
    <p>When I'm not being geeky, I'm probably playing tennis, seeing how fast my car can take an on-ramp, or watching The Daily Show.</p>
</div>