@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
    Layout = "default.cshtml";
}

<header>
    <div class="head-inner">
        <h1>About me</h1>
    </div>
</header>
<div class="fancy-container lightblue">
    <p>.NET developer focused on the user experience.</p>
    <p>I work on both desktop applications (WPF) and web applications (ASP.NET MVC). I've also begun to dabble with Nancy.</p>
</div>